<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Classifier Web App</title>
    <!--<script src="../htmx/htmx.min.js"></script><!-->
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <div class="content">
    <h1 class="header">Enter Some text to classify</h1>
    <p class="info">Enter more text for a more accurate classification.</p>
    
    <div>
        <input type="text" class="input" placeholder="Enter text to be classified (min three characters)" name="q" hx-get="/classify" hx-trigger="keyup changed delay:1ms" hx-target="#results">
    </div>
    <p id="results" class="result">

    </p>
    <p class="info">The model is currently trained on {{ results }} languages, with more training data parsed for more common languages and words.
    <br><br>The model works by analysing the frequency of all trigrams (3 adjacent characters) in the input text and matches them to a trained language with the most similar frequencies.</p>    
</div>
</body>
</html>